/************ CENTER SCREEN OVERLAY MENU ************/

.osm.overlay {
    -webkit-filter: blur(2px) brightness(50%);
}

.osm.modal {
    position: fixed;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.osm ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    /*background-color: #f1f1f1;*/
}

.osm li span {
    display: block;
    /*color: #000;*/
    padding: 8px 16px;
    text-decoration: none;
}


/* Change the link color on hover */

.osm li span:hover {
    background-color: #555;
    color: white;
}


/* Change the link color on program hover */

.osm li span .hover {
    background-color: #555;
    color: white;
}


/******************* FLOATING ACTION BUTTON *******************/

.osmContainer {
    text-align: center;
    position: fixed;
    cursor: pointer !important;
    margin: 1em;
}

[class*="_left"] .osmContainer {
    left: 0;
}

[class*="_right"] .osmContainer {
    right: 0;
}

[class*="top_"] .osmContainer {
    top: 0;
}

[class*="bottom_"] .osmContainer {
    bottom: 0;
}

.osmButtons {
    box-shadow: 0px 5px 11px -2px rgba(255, 255, 255, 0.18), 0px 4px 12px -7px rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    /*   background-color: #222; */
    background-color: #fff;
    color: #333;
    display: block;
    position: relative;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.osmButtons.menu {
    opacity: 0;
    width: 56px;
    height: 56px;
    margin: 20px auto 0;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}

.touchMode .osmButtons.menu {
    opacity: 0.8;
}

.osmContainer:hover .osmButtons.menu,
.openMenu .osmButtons.menu {
    opacity: 0.8;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

.osmButtons i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 85%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.osmButtons.item i {
    font-size: 65%;
}

.osmContainer .osmButtons.menu .opened {
    opacity: 0 !important;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

.openMenu .osmButtons.menu .closed,
.osmContainer:hover .osmButtons.menu .closed {
    opacity: 0 !important;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}

.osmContainer:hover .osmButtons.menu .opened,
.openMenu .osmButtons.menu .opened {
    opacity: 1 !important;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
}

.osmButtons:active,
.osmButtons:focus,
.osmButtons:hover,
.osmButtons.selected {
    box-shadow: 0 0 4px rgba(255, 255, 255, .42), 0 4px 8px rgba(255, 255, 255, .66);
}

[class*="bottom_"] .osmButtons.item {
    width: 40px;
    height: 40px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}

[class*="top_"] .osmButtons.item {
    width: 40px;
    height: 40px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}

.osmContainer:hover .osmButtons.item,
.openMenu .osmButtons.item {
    opacity: 0.8;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
    margin: 15px auto 0;
}


/* Show tooltip content on hover */

.touchMode .osmButtons[tooltip]:before,
.touchMode .osmButtons[tooltip]:after {
    visibility: visible !important;
    opacity: 0.6 !important;
}

.osmButtons.item[tooltip]:hover:before,
.osmButtons.item[tooltip]:hover:after,
.osmButtons.selected[tooltip]:before,
.osmButtons.selected[tooltip]:after {
    visibility: visible !important;
    opacity: 1 !important;
}

.osmButtons.item[tooltip]:before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 2px;
    background: #585858;
    color: #fff;
    content: attr(tooltip);
    visibility: hidden;
    opacity: 0;
    padding: 0.7em 1em;
    margin-right: 1em;
    margin-left: 1em;
    position: absolute;
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.5em;
    line-height: .7em;
}

[class*="_left"] .osmButtons.item[tooltip]:before {
    left: 100%;
}

[class*="_right"] .osmButtons.item[tooltip]:before {
    right: 100%;
}
